@model Gestion.Web.Models.ComprobantesOtroDTO

@{
    ViewData["Title"] = "Detalle del Cliente";
    var SaldoDTO = (IEnumerable<Comprobantes>)ViewData["Saldo"];
    var formasPagosTMP = (IEnumerable<ComprobantesFormasPagosDTO>)ViewData["FormasPagosTMP"];

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Clientes" asp-action="Index">Listado de Clientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ClienteDetalle" model='ViewData["Cliente"]' />
            </div>
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tipo de Pago Otro</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Otro" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="box-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="ClienteId" />
                                <input type="hidden" asp-for="FormaPagoId" />

                                <div class="form-group">
                                    <label class="control-label">Saldo</label>
                                    <input value=@(SaldoDTO.Sum(x => x.Saldo) - formasPagosTMP.Sum(x => x.Total)) readonly class="form-control input-sm" />

                                </div>

                                <div class="form-group">
                                    <label asp-for="Importe" class="control-label"></label>
                                    <input asp-for="Importe" class="form-control input-sm" />
                                    <span asp-validation-for="Importe" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FormaPago" class="control-label"></label>
                                    <input asp-for="FormaPago" class="form-control input-sm" />
                                    <span asp-validation-for="FormaPago" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Observaciones" class="control-label"></label>
                                    <input asp-for="Observaciones" class="form-control input-sm" />
                                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="box-footer">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <a asp-action="Recibo" asp-route-id="@Model.ClienteId" class="btn btn-default pull-right">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                

            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}
