@model Gestion.Web.Models.Productos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FechaAlta" />
            <input type="hidden" asp-for="UsuarioAlta" />

            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto" class="control-label"></label>
                <input asp-for="Producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoProductoId" class="control-label"></label>
                <select asp-for="TipoProductoId" asp-items="ViewBag.TiposProductos" class="form-control"></select>
                <span asp-validation-for="TipoProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionCorta" class="control-label"></label>
                <input asp-for="DescripcionCorta" class="form-control" />
                <span asp-validation-for="DescripcionCorta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionLarga" class="control-label"></label>
                <input asp-for="DescripcionLarga" class="form-control" />
                <span asp-validation-for="DescripcionLarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimencionesLongitud" class="control-label"></label>
                <input asp-for="DimencionesLongitud" class="form-control" />
                <span asp-validation-for="DimencionesLongitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimencionesAncho" class="control-label"></label>
                <input asp-for="DimencionesAncho" class="form-control" />
                <span asp-validation-for="DimencionesAncho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimencionesAltura" class="control-label"></label>
                <input asp-for="DimencionesAltura" class="form-control" />
                <span asp-validation-for="DimencionesAltura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCompra" class="control-label"></label>
                <input asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaCompraId" class="control-label"></label>
                <select asp-for="CuentaCompraId" asp-items="ViewBag.CuentasCompras" class="form-control"></select>
                <span asp-validation-for="CuentaCompraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaVentaId" class="control-label"></label>
                <select asp-for="CuentaVentaId" asp-items="ViewBag.CuentasVentas" class="form-control"></select>
                <span asp-validation-for="CuentaVentaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadMedidaId" class="control-label"></label>
                <select asp-for="UnidadMedidaId" asp-items="ViewBag.UnidadesMedidas" class="form-control"></select>
                <span asp-validation-for="UnidadMedidaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                <select asp-for="MarcaId" asp-items="ViewBag.Marcas" class="form-control"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visible" class="control-label"></label>
                <input asp-for="Visible" class="form-control" />
                <span asp-validation-for="Visible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioNormal" class="control-label"></label>
                <input asp-for="PrecioNormal" class="form-control" />
                <span asp-validation-for="PrecioNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioRebajado" class="control-label"></label>
                <input asp-for="PrecioRebajado" class="form-control" />
                <span asp-validation-for="PrecioRebajado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
