@model Gestion.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambiar Password";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de Gestíon
            <small>Gestion de Usuarios</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cambiar Password</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="OldPassword">Password Actual</label>
                                <input asp-for="OldPassword" type="password" class="form-control input-sm" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPassword">Nuevo Password</label>
                                <input asp-for="NewPassword" type="password" class="form-control input-sm" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Confirm">Confirmar</label>
                                <input asp-for="Confirm" type="password" class="form-control input-sm" />
                                <span asp-validation-for="Confirm" class="text-danger"></span>
                            </div>                            

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <input type="submit" value="Actualizar" class="btn btn-primary" />
                            <a asp-action="ChangeUser" class="btn btn-default">Volver</a>
                        </div>

                        <br />
                        <div class="text-success">@ViewBag.UserMessage</div>

                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col-->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


