@{ 
    var presupuesto = (IEnumerable<PresupuestosIndex>)ViewData["presupuesto"];
    var comprobantePendiente = (IEnumerable<ComprobantesDetalleIndicador>)ViewData["comprobantePendiente"];
}

<!--================================
BREADCRUMB
=================================-->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>REMOAR</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"  ><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-6 col-xs-6">                 
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@presupuesto.Count()</h3>

                        <p>Presupuestos Pendientes</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-lg-6 col-xs-6">
                 
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@comprobantePendiente.Count()</h3>

                        <p>Productos Pendientes a Entregar</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>                    
                </div>
            </div>
            
            
        </div>        
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->