@model Gestion.Web.Models.ClientesFisicoAdd

@{
    ViewData["Title"] = "Nuevo Cliente";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Sistema de gestíon
                <small>Gestion de Clientes</small>
            </h1>
            <ol class="breadcrumb">
                <li><a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
                <li><a asp-controller="Clientes">Listado de Clientes</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </section>
        

        <partial name="_ClienteCreate" model="Model" />

        
    </div>
<!-- /.content-wrapper -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
