<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENÚ</li>
    <li>
        <a asp-controller="Home" asp-action="Index">
            <i class="fas fa-tachometer-alt"></i> <span>Inicio</span>
        </a>
    </li>
    <li>
        <a asp-controller="Clientes" asp-action="Index">
            <i class="fas fa-users"></i> <span>Clientes</span>
        </a>
    </li>
    <li>
        <a asp-controller="Productos" asp-action="Index">
            <i class="fas fa-tachometer-alt"></i> <span>Productos</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-inbox"></i>
            <span>Presupuestos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="Presupuestos" asp-action="ClienteBuscar" asp-route-id="@Guid.NewGuid().ToString()"><i class="fa fa-circle-o"></i> Nuevo</a></li>
            <li><a asp-controller="Presupuestos" asp-action="Pendientes"><i class="fa fa-circle-o"></i> Pendientes</a></li>
            <li><a asp-controller="Presupuestos" asp-action="Vencidos"><i class="fa fa-circle-o"></i> Vencidos</a></li>
            <li><a asp-controller="Presupuestos" asp-action="Aprobados"><i class="fa fa-circle-o"></i> Aprobados</a></li>
            <li><a asp-controller="Presupuestos" asp-action="Rechazados"><i class="fa fa-circle-o"></i> Rechazados</a></li>
        </ul>
    </li>

    <li>
        <a asp-controller="Account" asp-action="Index">
            <i class="fas fa-user-alt"></i> <span>Usuarios</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-cog"></i>
            <span>Ajustes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="Alicuotas" asp-action="Index"><i class="fa fa-circle-o"></i> Alicuotas</a></li>
            <li><a asp-controller="ConceptosIncluidos" asp-action="Index"><i class="fa fa-circle-o"></i> Conceptos Incluidos</a></li>
            <li><a asp-controller="Configuraciones" asp-action="Index"><i class="fa fa-circle-o"></i> Configuraciones</a></li>
            <li><a asp-controller="CuentasCompras" asp-action="Index"><i class="fa fa-circle-o"></i> Cuentas Compras</a></li>
            <li><a asp-controller="CuentasVentas" asp-action="Index"><i class="fa fa-circle-o"></i> Cuentas Ventas</a></li>
            <li><a asp-controller="PresupuestosEstados" asp-action="Index"><i class="fa fa-circle-o"></i> Estados Presupuesto</a></li>
            <li><a asp-controller="Provincias" asp-action="Index"><i class="fa fa-circle-o"></i> Provincias</a></li>
            <li><a asp-controller="TiposComprobantes" asp-action="Index"><i class="fa fa-circle-o"></i> Tipos Comprobantes</a></li>
            <li><a asp-controller="TiposDocumentos" asp-action="Index"><i class="fa fa-circle-o"></i> Tipos Documentos</a></li>
            <li><a asp-controller="TiposProductos" asp-action="Index"><i class="fa fa-circle-o"></i> Tipos Productos</a></li>
            <li><a asp-controller="TiposResponsables" asp-action="Index"><i class="fa fa-circle-o"></i> Tipos Responsables</a></li>
            <li><a asp-controller="UnidadesMedidas" asp-action="Index"><i class="fa fa-circle-o"></i> Unidades de Medidas</a></li>
        </ul>
    </li>
</ul>