@model ErrorViewModel

@{
    ViewData["Title"] = "ERROR";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Error</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> ERROR</h2>

            <div class="error-content">
                <p><i class="fa fa-warning text-yellow"></i></p>

                <p>
                    @ViewData["Title"]
                </p>

            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->