@model Gestion.Web.Models.ComprobantesDTO

@{
    ViewData["Title"] = "Detalle del Cliente";
    var cliente = (ClientesDTO)ViewData["Clientes"];
    var Detalle = (List<Gestion.Web.Models.ComprobantesDetalleDTO>)ViewData["DetalleTMP"];

    var comp = (List<Gestion.Web.Models.ComprobantesDTO>)ViewData["Comprobantes"];
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Clientes" asp-action="Index">Listado de Clientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ClienteDetalle" model='@cliente' />
            </div>
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@Model.TipoComprobante @Model.Codigo</h3>

                        <a asp-controller="Comprobantes" asp-action="DevolucionProductos" class="btn btn-default btn-sm pull-right" aria-hidden="true">Volver</a>

                    </div>
                    <form>
                        <partial name="_ProductosDevolucion" model='@Model' />
                    </form>

                    <!-- /.box -->
                    <div class="box-footer">
                        <a asp-controller="Comprobantes" asp-action="DevolucionProductos" class="btn btn-default btn-sm pull-right" aria-hidden="true">Volver</a>
                    </div>

                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Generacion de la Devolucion de Productos</h3>
                    </div>
                    <form>
                        <partial name="_ProductosDevolucionTMP" model='@Model' />
                    </form>

                    <!-- /.box -->
                    <div class="box-footer">
                        <a asp-controller="Comprobantes" asp-action="DevolucionProductos" class="btn btn-default btn-sm pull-right" aria-hidden="true">Volver</a>
                        @if (Detalle.Count() == 0)
                        {
                            <a class="btn btn-primary btn-sm" disabled aria-hidden="true">Generar Devolucion</a>
                        }
                        else
                        {
                            <a asp-controller="Comprobantes" asp-action="GenerarDevolucion" asp-route-id="@Model.Id" class="btn btn-primary btn-sm" aria-hidden="true">Generar Devolucion</a>
                        }

                    </div>

                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Remitos y Devoluciones Generadas</h3>
                    </div>
                    <form>
                        <partial name="_Remitos" model='@comp' />
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");};


}
